---
layout: page
title: 
---
{% include JB/setup %}

{% for post in site.posts %}
<div class="post-excerpt">
  <div style="margin-bottom: 10px;">
    <a href="{{ post.url }}"><h2>{{ post.title }}</h2></a>
    <span class="label">
      {{ post.date | date: "%m/%d/%Y" }}
    </span>
  </div>
  
  {{ post.excerpt }}
  ...
  <a href="{{ post.url }}">
    <button class="btn btn-info">Read More</button>
  </a>
  
  {% unless post.tags == empty %}
    <ul class="tag_box inline">
      <li><i class="icon-tags"></i></li>
      {% assign tags_list = post.tags %}
      {% include JB/tags_list %}
    </ul>
  {% endunless %}

  {% unless forloop.last %}
    <hr />
  {% endunless %}
</div>
{% endfor %}
